* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(97, 185, 9, 0.809);
}

.harvestButton {
  background-color: rgb(160, 95, 45);
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  padding: 7px 7px;
}

.click-flower {
  width: 100px;
  height: 100px;
  align-items: center;
}

.market-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

h2 {
}
