* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(97, 185, 9, 0.809);
}

.button {
  background-color: rgb(160, 95, 45);
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
}

.click-flower {
  width: 70px;
  height: 70px;
  justify-content: center;
}
